<?xml version="1.0"?>
<!-- only for ros-control,without gazebo -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero">

    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="roller_type" default="realistic"/>

    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find joint_description)/urdf/kobe/chassis.urdf.xacro"/>
        <xacro:chassis roller_type="$(arg roller_type)"/>
    </xacro:if>

</robot>
